# Dependencies

node_modules/

# Logs

logs
*.log
npm-debug.log*

# Vite & TypeScript

dist/
dist-electron/
.vite/
*.tsbuildinfo

# Electron Packaging Outputs

release/
*.exe
*.dmg
*.AppImage
*.zip

# Editor & OS Files
      
.vscode/*