.toast {
  display: flex;
  text-align: center;
  justify-content: center;
  will-change: transform, opacity;
  position: fixed;
  bottom: 30px;
  right: 8px;
  z-index: 9999;
  background-color: var(--bg-button);
  overflow: hidden;
  color: var(--text-muted);
  border: 1px solid var(--border-color);
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 4px;
  max-width: 250px;
  opacity: 0;
  font-family: var(--current-font);
  font-size: inherit;
}

@keyframes slideUpIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDownOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.toast.show {
  animation: slideUpIn 0.4s forwards ease-in-out;
}

.toast.hide {
  animation: slideDownOut 0.4s forwards ease-in-out;
}

@media screen and (max-width: 700px) {
  .toast {
    justify-self: center;
    bottom: 20%;
    right: 20%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .toast {
    bottom: 10%;
    right: 10%;
    max-width: 280px;
    padding: 10px 15px;
  }
}
